<div class="panel panel-default">
  <div class="panel-body">
<pre style="color: black">
	REQUISITOS PARA COLEGIATURA
Sólo podrán Colegiarse en esta sede Regional todos los egresados de Universidades de la Región La Libertad.

1. Título Original de Licenciados en Periodismo y/o Licenciados en Ciencias de la Comunicación
Visado por el Secretario General de la Universidad...(El Título le será devuelto después de la Ceremonia de Colegiatura).

2. Solicitud Para incorporación al Colegio de Periodistas de la Región
Solicitud de incorporación al Colegio de Periodistas del Perú dirigida al Decano (a) Nacional del Colegio de Periodistas del Perú.(Según Formato)

3. 02 Fichas de datos
02 fichas de datos de inscripción, debidamente llenadas y firmadas por el Periodista solicitante y por el Decano(a) de la Región. (Según Formato)

4. Declaración Jurada
Presentar una Declaración Jurada del Colegiado de no falsar ni omitir datos. (Según Formato).

5. Cinco (05) Fotocopias del Título: Luego de ser visado.
* Una copia legalizada por la Universidad(un año de vigencia)
* Una copia legalizada por Notario(tres meses de vigencia)
* Tres copias simples.

6. Cuatro (04) Fotos
Tamaño pasaporte a color con fondo blanco.

7. 02 Copias DNI
Dos Copias Simples del Documento de Identidad DNI del solicitante.

8. 02 Copias Diploma de Bachiller
Dos Copias del Diploma de Bachiller fedateado por el Secretario General de la Universidad o el fedatario. (Un año de Vigencia).

9. 01 Copia del Certificado de Estudios: Legalizada por la Universidad.
(Un año de Vigencia).

10. Constancia del documento: Actualización de Datos Personales (Según Formato establecido).

11. Certificado de Antecedentes Penales y Policiales

12. Pago por Derecho de Colegiatura
- Pagar en la secretaría del Colegio de Periodistas: s/.500.00
</pre>
  </div>
</div>