<!-- Button trigger modal -->
<div class="row">
        <div class="">
          <a href="#" class="thumbnail">
            <img  alt="Click aqui"  src="/doc1.jpg " data-toggle="modal" data-target="#myModal">
          </a>
        </div>
        <div class="">
          <a href="#" class="thumbnail">
            <img  alt="Click aqui"  src="/doc2.jpg" data-toggle="modal" data-target="#myModal">
          </a>
        </div>
        <div class="">
          <a href="#" class="thumbnail">
            <img  alt="Click aqui"  src="/doc3.jpg" data-toggle="modal" data-target="#myModal">
          </a>
        </div>
        <div class="">
          <a href="#" class="thumbnail">
            <img  alt="Click aqui"  src="/doc4.jpg" data-toggle="modal" data-target="#myModal">
          </a>
        </div>
      </div>
