<div class="row">
<div class="col-md-3">
	<div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><center>Decano</center></h3>
        </div>
        <div class="panel-body">
            <img alt="Decano Colegio Periodistas de Ica" style="width: 100%; height: 300px;" src="/decanocruces.jpg" class="img-rounded">
            <div class="caption">
              <h3><center>Dr. Cruces Hernandez Guerra</center></h3>
            </div>
        </div>
      </div>
 </div>
	 <div class="col-md-9 slider">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval= "2000">
	        <ol class="carousel-indicators">
	          <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
	          <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
	          <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
	        </ol>
	        <div class="carousel-inner img-rounded">
	          <div class="item">
	            <img  alt="First slide" src="/ingcruces.jpg">
	          </div>
	          <div class="item">
	            <img alt="Second slide" src="/votacion.jpg">
	          </div>
	          <div class="item active">
	            <img alt="Third slide" src="/ica.jpg">
	          </div>
	        </div>
	      </div>
	      <div class="label-card img-rounded">
	      </div>
	      <div class="texto-label">Colégio Periodistas de Ica - Bienvenidos</div>
	 </div>
</div>

<hr>

<div class="row noticia">
	<div class="col-md-8">
	<% @noticias.each do |noticia|%>
	<hr>
		<div class="media">
		        <a class="pull-left">
		          <%= image_tag(noticia.url_imagen_noticia, :style => "width: 300px; height: 200px;") %>
		        </a>
		        <div class="media-body">
			          <h2 class="media-heading"><%= link_to truncate(noticia.titulo, length: 94), noticia %></h2>
			          <%= truncate(noticia.contenido, length: 315, omission: '...(continua)')%>
		        </div>
	      </div>
	<% end %>
	</div>

	<div class="col-md-4">
		<div class="list-group" style="text-align: justify">
        <a href="#" class="list-group-item active">
          <h4 class="list-group-item-heading">Nosotros</h4>
          <p class="list-group-item-text">El Colegio de Periodistas de Ica - Filial Ica es una institución autónoma, conformado por organismos altamente profesionales y constituidos democráticamente en todo el territorio de la República.</p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">Misión</h4>
          <p class="list-group-item-text">"El Colegio de Periodistas" tendrá como objetivo la promoción y difusión de actividades relacionadas con el periodismo, así como la impartición de conferencias, cursos y talleres y demás acciones que fomenten una cultura del periodismo de manera ética y profesional, que contribuyan al progreso social.</p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">Descripción</h4>
          <p class="list-group-item-text">Pensando en nuestros colegiados hacemos del facebook una herramienta útil poniendo a pleno conocimiento los diversos eventos ha organizar para los periodistas y público en general.</p>
        </a>
      </div>
<div><iframe width="360" height="400" frameborder="0" src="http://www.bing.com/maps/embed/viewer.aspx?v=3&cp=-14.068100~-75.725600&lvl=16&w=360&h=400&sty=r&typ=d&pp=&ps=&dir=0&mkt=en-us&src=SHELL&form=BMEMJS"></iframe><div style="margin: 12px 0 0 0;"><a target="_blank" href="http://www.bing.com/maps/?cp=-14.068100~-75.725600&sty=r&lvl=16&sp=&mm_embed=map">View Larger Map</a>&nbsp; |&nbsp; <a target="_blank" href="http://www.bing.com/maps/?cp=-14.068100~-75.725600&sty=r&lvl=16&rtp=~pos.-14.068100_-75.725600____&mm_embed=dir">Get Directions</a>&nbsp; |&nbsp; <a target="_blank" href="http://www.bing.com/maps/?cp=dnnsjh8ppkd0&sty=b&lvl=18&sp=&mm_embed=be">View Bird's Eye</a></div></div>
	</div>
</div>
