<div class="row">
<div class="col-md-3">
	<div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><center>Decano</center></h3>
        </div>
        <div class="panel-body">
            <img alt="Decano Colegio Periodistas de Ica" style="width: 100%; height: 300px;" src="https://m.ak.fbcdn.net/sphotos-d.ak/hphotos-ak-prn1/431737_359194930770504_329594965_n.jpg" class="img-rounded">
            <div class="caption">
              <h3><center>Dr. Cruces Hernandez Guerra</center></h3>
            </div>
        </div>
      </div>
 </div>
	 <div class="col-md-9 slider">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval= "2000">
	        <ol class="carousel-indicators">
	          <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
	          <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
	          <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
	        </ol>
	        <div class="carousel-inner img-rounded">
	          <div class="item">
	            <img  alt="First slide" src="http://farm8.staticflickr.com/7411/10690650103_6968629a64_o.jpg">
	          </div>
	          <div class="item">
	            <img alt="Second slide" src="http://farm3.staticflickr.com/2856/10690461204_872d2d8c5f_o.jpg">
	          </div>
	          <div class="item active">
	            <img alt="Third slide" src="http://farm3.staticflickr.com/2856/10690461204_872d2d8c5f_o.jpg">
	          </div>
	        </div>
	      </div>
	      <div class="label-card img-rounded">
	      </div>
	      <div class="texto-label">Hola</div>
	 </div>
</div>

<hr>

<div class="row">
	<div class="col-md-8">
	</hr>
		<div class="media">
		        <a class="pull-left" href="#">
		          <img class="media-object" data-src="holder.js/64x64" alt="400x300" style="width: 300px; height: 200px;" src="#">
		        </a>
		        <div class="media-body">
			          <h2 class="media-heading">Titulo</h2>
			          Contenido
		        </div>
	      </div>
	</div>





	<div class="col-md-4">
		<div class="list-group">
        <a href="#" class="list-group-item active">
          <h4 class="list-group-item-heading">List group item heading</h4>
          <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading</h4>
          <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">List group item heading</h4>
          <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        </a>
      </div>
	</div>
</div>
