<div class="row">
	<div class="col-md-6">
	<div class="thumbnail">
		<img class="img-thumbnail" alt="Miembros"  src="/miembros.jpg">
		<h1><center>Miembros Electos</center></h1>
		<h3>
			<center>
			En aras de la transparencia y honestidad de la actual gestión se apertura cuenta en la Caja Municipal de Ica, para nuestra Institución Profesional de Ica presidida por nuestro decano Regional Lic. Cruces Hernandez Guerra
		</center>
		</h3>
	</div>
	</div>
	<div class="col-md-6">
<div class="list-group">
        <a href="#" class="list-group-item active">
          <h4 class="list-group-item-heading">Cruces Hernandez Guerra</h4>
          <p class="list-group-item-text">Decano</p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">Abraham Quispe Levano</h4>
          <p class="list-group-item-text">Primer ViceDecano</p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">Liliana Flores Chavez</h4>
          <p class="list-group-item-text">Segunda ViceDecana</p>
        </a>
         <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">Susana Jaime Perez</h4>
          <p class="list-group-item-text">Director Secretario</p>
        </a>
         <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">Americo Aquije Purilla</h4>
          <p class="list-group-item-text">Director de Economia y Finanzas</p>
        </a>
         <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">Lucy Caro Gutierrez</h4>
          <p class="list-group-item-text">Directora de Actividades Profesionales y Culturales</p>
        </a>
         <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">Ricardo Palomino Levano</h4>
          <p class="list-group-item-text">Director de Asuntos Mutualistas y Sociales</p>
        </a>
         <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">Luisa Rosario Huayanca Zapata</h4>
          <p class="list-group-item-text">Directora de Publicaciones y Relaciones Publicas</p>
        </a>
         <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">Jose Rolando Torres Espinoza</h4>
          <p class="list-group-item-text">Director de Biblioteca</p>
        </a>
         <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">Raul Cordova Tupayachi</h4>
          <p class="list-group-item-text">Delegado ante el Consejo Nacional</p>
        </a>
      </div>
	</div>
</div>
