.cabecera{
	width: 100%;
	.header-link{
		padding-top: 10px;
		padding-bottom: 10px;
		white-space: nowrap;

		.link{
			height: 50px;
			.btn {
				background:#222;
				color: #ccc;
				text-transform: uppercase;
				&:hover{
					background:black;
				}
			}
			.main {
				background:black;
			}
		}
	}

	.navbar-inverse {
	height: 140px;
	width: 100%;

	.collapse{

		.ingresar{
			top: 38px;
			left: 234px;
		}
		.logo {
			position: absolute;
			width: 100px;
			max-height: 100px;
			top: 10px;
			left: 130px;
		}
		.titulo {
			left: 100px;
			h1{
				font-size: 50px;
				margin-left: 299px;
			}
		}

	}

	background-color: #463265;
		.navbar-brand{
			color:white;
			&:hover{
				color:#999999;
			}
		}
	}

}