<div class="cabecera">
<nav class="navbar-inverse" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
          <ul class="nav navbar-nav">
            <li class="active"></li>
            <li>
              <div class="logo img-circle">
                <%= image_tag("/logo.jpg", :style => "width: 120px; height: 120px; border-radius: 20%;", :class => "img-circle" ) %>
              </div>
            </li>
            <li>
              <div class="titulo">
                  <a class="navbar-brand" href="/"><h1>Colégio Periodistas de Ica</h1></a>
              </div>
            </li>
            <li>
              <%= image_tag("/luto.png", :style => "width: 120px; height: 120px;" ) %>
            </li>
            <li>
            <% if user_signed_in? %>
            <%= link_to "Salir", destroy_user_session_path, class: "ingresar btn-primary", :method=>"delete" %>
                <% else %>
              <%= link_to "Ingresar", new_user_session_path, class: "ingresar btn-primary" %>
                <% end %>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
<!-- /.links-->

<div class="header-link container">
  <div class="btn-group btn-group-justified link">
        <a class="btn btn-default main"  href="/" role="button">Principal</a>
        <a class="btn btn-default" href="/miembros" role="button">Miembros</a>
        <a class="btn btn-default" href="/colegiatura" role="button">Colegiatura</a>
        <a class="btn btn-default" href="/documentacion" role="button">Documentación</a>
        <a class="btn btn-default" href="/noticias" role="button">Noticias</a>
        <a class="btn btn-default" href="/corresponsales" role="button">Corresponsales</a>
  </div>
</div>
</div>